.main {
  background-image: url(../../images/bg_hero.png),
    url(../../images/bg_contact.jpeg);
  background-position: center 0, 47% bottom;
  background-repeat: no-repeat;
  background-size: auto, 170%;
  position: relative;
  z-index: 4;
}

.main::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    rgba(5, 13, 42, 0),
    rgb(5, 13, 42) 11%,
    rgb(8, 8, 34) 80%,
    rgba(8, 8, 34, 0)
  );
  top: 500px;
  bottom: 300px;
  height: 600px;
  left: 0px;
  right: 0px;
}

.main::after {
  height: 100%;
  content: '';
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0px;
  right: 0px;
}
